main{
    display: flex;
    align-items: center;
}
.tittleMovie-container{

    display: flex;
}

.movieInfo-div div {
    display: flex;
    gap: 50px;
}


.movie-img{
    width: 300px;
}